<div class="container">
  <div id="question">
      <p><%= @question %></p>
      <p>-You</p>
  </div>

  <p><%= @answer %></p>
  <p>-Your coach</p>
  <%= link_to "Ask a new question", ask_path %>
</div>
